In [ ]:
### **1.Consumo di alcol per paese** 
# Esegui un’**analisi esplorativa** focalizzata sul **consumo di alcol**.  
# Analizza i seguenti aspetti:
# * Visualizza i primi 10 paesi ordinati per total_litres_of_pure_alcohol (dal più alto)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv")
df
df.head(10)
df.sort_values(by='total_litres_of_pure_alcohol', ascending=False, inplace=True )
df
# * Calcola la media del consumo di birra, vino, e distillati
df.beer_servings.mean()
df['beer_servings'].mean()
df.wine_servings.mean() 
df.total_litres_of_pure_alcohol.mean()
df.describe() # media del consumo di birra, vino, e distillati (e altre valori)

# * Crea una nuova colonna alcohol_index che sia: `(beer_servings + wine_servings + spirit_servings) / 3`
df['alcohol_index'] = (df.country=='beer_servings + wine_servings + spirit_servings)/3').astype(int)
df['alcohol_index']

# * Trova il paese con il valore massimo di alcohol_index

max_alcohol_country = df.loc[df['alcohol_index'].idxmax(), 'country']
max_alcohol_country

# * Filtra solo i paesi che consumano più di 100 birre all’anno
#paesi_consumo_piu_100birre_anno = df['country']>100
#paesi_consumo_piu_100birre_anno

df[df['wine_servings'] > 100]

# Crea un bar chart dei 10 paesi con più consumo totale (total_litres_of_pure_alcohol)

# Crea un line plot con wine_servings ordinato per paese (usa sort_values)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,alcohol_index
3,Andorra,245,138,312,12.4,0
61,France,127,151,370,11.8,0
45,Czech Republic,361,170,134,11.8,0
99,Luxembourg,236,133,271,11.4,0
155,Slovakia,196,293,116,11.4,0
81,Ireland,313,118,165,11.4,0
75,Hungary,234,215,185,11.3,0
65,Germany,346,117,175,11.3,0
136,Portugal,194,67,339,11.0,0
156,Slovenia,270,51,276,10.6,0
16,Belgium,295,84,212,10.5,0
8,Australia,261,72,212,10.4,0
48,Denmark,224,81,278,10.4,0
182,United Kingdom,219,126,195,10.4,0
140,Romania,297,122,167,10.4,0
166,Switzerland,185,100,280,10.2,0
42,Croatia,230,87,254,10.2,0
160,Spain,284,157,112,10.0,0
9,Austria,279,75,191,9.7,0
151,Serbia,283,131,127,9.6,0
120,Netherlands,251,88,190,9.4,0
121,New Zealand,203,79,175,9.3,0
6,Argentina,193,25,221,8.3,0
67,Greece,133,112,218,8.3,0
44,Cyprus,192,154,113,8.2,0
35,Chile,130,124,172,7.6,0
165,Sweden,152,60,186,7.2,0
126,Norway,169,71,129,6.7,0
185,Uruguay,115,35,220,6.6,0
105,Malta,149,100,120,6.6,0
83,Italy,85,42,237,6.5,0
92,Laos,62,0,123,6.2,0
55,Equatorial Guinea,92,0,233,5.8,0
64,Georgia,52,100,149,5.4,0
113,Montenegro,31,114,128,4.9,0
148,Sao Tome & Principe,56,38,140,4.2,0

In [2]:
### **2.Analisi offerte di lavoro** 

# Esegui un’**analisi esplorativa** focalizzata sui **lavori nel campo dei dati in ciascun paese**.  
# Analizza i seguenti aspetti per ogni paese:

import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_posted_date']
# * Lo **stipendio medio annuale** (`salary_year_avg`)
#df['salary_year_avg'].mean()
# * Il **numero totale di offerte di lavoro** (job count)
#total_offers = df[['job_title_short', 'job_title', 'job_schedule_type', 'job_work_from_home', 'job_no_degree_mention', 'job_health_insurance']].sum().sum()
#total_offers
total_offers = len(df)
total_offers
# * L’intervallo degli stipendi: **valore minimo e massimo** (`min` / `max`)

# Rappresenta graficamente lo stipendio medio (`salary_year_avg`) per `job_title_short` usando un grafico a barre orizzontali. Ordina i dati dallo stipendio più alto al più basso. Includi un titolo e le etichette per gli assi x e y.

785741